@charset "UTF-8";

* {
    
    /* Variáveis */
    --font_base: Arial, Helvetica, sans-serif;
    --cor_base: #252525;
    --cor_body_background: #A8D0DB;

    --imagem_telefone: url(../images/frame-iphone.png);
    --imagem_tela_home_telefone: url(../images/tela-home.jpg);

}